/*** Generic Definitions ***/

* {
	font-family: sans-serif;
	font-size: 10pt;
	color: #4D3F3F;
}

.spacer {
	clear: both;
}

/*** Generic layout ***/

.text-panel {
	background-color: #F8F7F7;
	padding: 6px;
}

.text-panel h1 {
	font-size: 12pt;
}

.small-panel {
	background-color: #F8F7F7;
	padding: 6px;
}

.small-panel h1 {
	font-size: 11pt;
}


.vertical-panel {
	background-color: #F8F7F7;
}

/*** Global Page ***/


body {
	margin: 20px;
	text-align: center;
}

#page-panel {
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	text-align: left;
}

/*** Header & Footer ***/

#header-background,#footer-background {
	background-color: #4D3F3F;
	position: relative;
}

#header-panel {
	height: 80px;
}

#footer-panel {
	height: 40px;
}

#company-phrase {
	color: white;
	font-size: 16pt;
}

#header-image-panel {
	position: absolute;
	top: 0px;
	right: 0px;
}

#header-image-panel img {
	width: 120px;
	height: 80px;
}

#logo {
	margin-top: 20px;
	margin-left: 20px;
}

#round-corner-left-top {
	position: absolute;
	top: 0px;
}

#round-corner-right-top {
	position: relative;
	float: right;
	top: -80px;
	z-index: 1;
}

#round-corner-left-bottom {
	position: relative;
	float: left;
	top: -14px;
}

#round-corner-right-bottom {
	position: relative;
	float: right;
	top: -14px;
}

/*** Menu Bar ***/

#menu-panel {
	height: 30px;
	background-color: #948C8C;
	margin-top: 12px;
}

#content-panel {
	margin-top: 12px;
	margin-bottom: 12px;
	padding: 0px;
}

/*** Concept Page ***/

.content-table {
	border-spacing: 0px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.content-col {
	vertical-align: top;
	padding: 12px;
}

#concept-content-col1 {
	background-color: #DBD9D9;
	width: 640px;
	border-right: 12px solid white;
}

#concept-content-col2 {
	background-color: #948C8C;
	width: 340px;
	position: relative;
}


#test {
	background-color: blue;
	vertical-align: bottom;
	height: 100%;
}
