/*** Generic Definitions ***/

* {
	font-family: sans-serif;
	font-size: 10pt;
	color: #4D3F3F;
	letter-spacing: 1px;
}

.spacer {
	clear: both;
}

.caps {
	letter-spacing: normal;
	text-transform: uppercase;
}

table {
	border-spacing: 0px;
}

td {
	padding: 0px;
}

/*** Page Content ***/

#content-panel {
	margin-top: 12px;
}

.content-table {
	
	/* make sure table fills the content panel */
	width: 100%;
}

.content-col {
	
	/* default for tables is center */
	vertical-align: top;
	
	/* vertical padding is taken care of by elements within the content-col */
	padding-left: 12px;
	padding-right: 12px;
}

/*** Various Panel Kinds ***/

.text-panel {
	/* lightest */
	background-color: #F8F7F7;
	
	/* room between panels */
	margin-top: 12px;
	margin-bottom: 12px;
	
	/* room between panel border and content */
	padding: 12px;
}

.text-panel h1 {
	font-size: 12pt;
	
	/* reset margin inherited from text-panel */
	margin-top: 0px;
	
	/* make room for background image */
	padding-top: 2px; 	
	padding-left: 24px; 	
	
	/* single-line background doesn't work in IE and FF */
	background-image: url("images/Eyes.gif");
	background-repeat: no-repeat;
	background-position: center left;
}

.text-panel h2 {
	font-size: 11pt;
	color: #4D3F3F;
	padding: 0px;
	margin: 0px;
}

.text-panel p {
	/* reset margin inherited from text-panel */
	margin-top: 12px;
	
	/* reset inherited margin-bottom */
	margin-bottom: 0px; 
}

.text-panel .small-panel {
	/* small panels inside text panels should be compressed */
	padding: 0px;
	margin: 0px;
}

.small-panel-container {
	margin-top: 12px;
	margin-bottom: 12px;
}

.small-panel {
	
	/* lightest */
	background-color: #F8F7F7;
	padding: 8px;
	margin-top: 6px;
}

.small-panel h1 {
	
	font-size: 11pt;

	/* reset inherited margin */
	margin: 0px;
	
	/* when right-aligned, background image should move with text */
	display: inline; 
	
	/* make room for background image */
	padding-left: 18px; 	
	
	/* single-line background doesn't work in IE and FF */
	background-image: url("images/EyesSmall.gif");
	background-repeat: no-repeat;
	background-position: center left;
}

.small-panel p {

	/* reset inherited margin */
	margin: 0px;
	margin-top: 2px;
}

.vertical-panel {
	background-color: #F8F7F7;
}


