
/*** Left side ***/

#content-col1 {
	
	/* light */
	background-color: #DBD9D9;
	
	/* somehow, this looks like the right balance */
	width: 69%;
	
	/* space between col1 and col2 */
	border-right: 12px solid #F8F7F7;
}

#content-col2 {
	background-color: #948C8C;
	width: 340px;
	position: relative;
	margin: 0px;
}

#panel-charlottes-web {
	/* allow for one extra line wrap before box starts growing */
	height: 172px; 
	overflow: hidden;
}

/*** Charlotte's Widgets ***/

#panel-charlottes-widgets {
	height: 182px;
}

#panel-charlottes-widgets table {
	height: 160px;
	vertical-align: middle;
}
	
#panel-charlottes-widgets table td {
}

#panel-charlottes-widgets img {
	padding-right: 18px;
}

/*** Charlotte's Colors ***/

#panel-charlottes-colors {
	height: 126px;
}


#panel-charlottes-colors table {
	height: 100px;
	vertical-align: bottom;
}

#panel-charlottes-colors-image-table td {
	vertical-align: bottom;
}
	
#panel-charlottes-colors-col1 {
	
	/* Color images should be bottom aligned */
	vertical-align: bottom;
}

#panel-charlottes-colors-col1 span {
	font-weight: bold;
	font-size: 9pt;
	display: block;
	letter-spacing: normal;

	/* poor man's centering */
	padding-left: 4px;
}

#panel-charlottes-colors img {
	padding-right: 7px;
}

#panel-charlottes-colors-col2 {
	vertical-align: bottom;
}

#panel-charlottes-colors-col2 .small-panel {
	
	/* make room for text to move upwards when space is limited */
	margin-top: -56px;
}

#panel-charlottes-colors-col2 h2 {
	/* here we do want some space between the h2 sections */
	margin-top: 12px;
}

/*** Charlotte's Widgets & Colors ***/

#panel-charlottes-widgets-col1, #panel-charlottes-colors-col1 {
	/* fixed room for the images */
	width: 360px;
}

/*** Right side ***/

#content-col2 .small-panel {
	height: 80px;
	position: relative;
	min-width: 290px;
}

.small-panel img {
	position: absolute;
	top: 10px;
}

#small-panel-container-top {
	text-align: right;
	
	/* space between the two containers */
	margin-bottom: 12px;
}

#small-panel-container-top .small-panel {
	/* make room for image */
	padding-left: 60px;
}

#small-panel-container-top .small-panel img {
	/* show image on the left side */
	left: 10px;
	top: 24px;
}

#small-panel-container-bottom .small-panel {
	/* make room for image */
	padding-right: 70px;
	height: 50px;
}

#small-panel-container-bottom .small-panel img {
	/* show image on the right side */
	right: 10px;
}
